<div class="checkout">
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="name">Ім'я:</label>
      <input
        type="text"
        formControlName="name"
        id="name"
        required=""
        placeholder="Введіть ім'я"
      />
      <div
        *ngIf="orderForm.get('name')?.errors && orderForm.get('name')?.touched"
        class="error-message"
      >
        <small *ngIf="orderForm.controls['name'].hasError('required')">
          Необхідно ввести ім'я
        </small>
        <small *ngIf="orderForm.controls['name'].hasError('minlength')">
          Ім'я повинно мати більше 3-х символів.</small
        >
        <small *ngIf="orderForm.controls['name'].hasError('maxlength')">
          Ім'я не може мати більше 15 символів.</small
        >
        <small *ngIf="orderForm.controls['name'].hasError('pattern')">
          Ім'я повинно мати лише букви.</small
        >
      </div>
    </div>

    <div class="form-field">
      <label for="surname">Прізвище:</label>
      <input
        type="text"
        formControlName="surname"
        id="surname"
        required=""
        placeholder="Введіть прізвище"
      />
      <div
        *ngIf="
          orderForm.get('surname')?.errors && orderForm.get('surname')?.touched
        "
        class="error-message"
      >
        <small *ngIf="orderForm.controls['surname'].hasError('required')">
          Необідно ввести прізвище.
        </small>
        <small *ngIf="orderForm.controls['surname'].hasError('minlength')">
          Прізвище повинно мати більше 3-х символів.</small
        >
        <small *ngIf="orderForm.controls['surname'].hasError('maxlength')">
          Прізвище не може мати більше 15 символів.</small
        >
        <small *ngIf="orderForm.controls['surname'].hasError('pattern')">
          Прізвище має містити лише букви.</small
        >
      </div>
    </div>

    <div class="form-field">
      <label for="address">Адреса доставки:</label>
      <input
        type="text"
        formControlName="address"
        id="address"
        required=""
        placeholder="Введіть адресу доставки"
      />
      <div
        *ngIf="
          orderForm.get('address')?.errors && orderForm.get('address')?.touched
        "
        class="error-message"
      >
        <small *ngIf="orderForm.controls['address'].hasError('required')">
          Необхідно ввести адресу
        </small>
        <small *ngIf="orderForm.controls['address'].hasError('minlength')">
          Адреса доставки повинна мати більше 7 символів.</small
        >
      </div>
    </div>

    <div class="form-field">
      <label for="phone">Номер телефону:</label>
      <input
        type="tel"
        formControlName="phone"
        id="phone"
        required=""
        placeholder="Phone"
        [(ngModel)]="initialPhoneValue"
      />
      <div
        *ngIf="
          orderForm.get('phone')?.errors &&
          (orderForm.get('phone')?.touched || orderForm.get('phone')?.dirty)
        "
        class="error-message"
      >
        <small *ngIf="orderForm.controls['phone'].hasError('required')">
          Необхідно ввести номер телефону.
        </small>
        <small *ngIf="orderForm.controls['phone'].hasError('pattern')">
          Некоректний формат телефону.</small
        >
      </div>
    </div>

    <button type="submit">ЗАМОВИТИ</button>
  </form>
</div>
