ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid gray;

  &:last-child {
    border-bottom: none;
  }
}

button {
  padding: 10px;
  color: white;
  background-color: #009688;
  display: block;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  border: none;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

table {
  table-layout: fixed;
}
