header {
  position: relative;
  background: white;
  padding: 0;
  border-bottom: 1px solid #009688;

  a {
    padding: 10px;
    color: #009688;
    transition: all 0.2s;

    &:hover {
      background: #009687;
      color: white;
      cursor: pointer;
      transition: all 0.2s;
    }

    .logo {
      font-weight: bold;
      padding: 10px;
    }

    span {
      background: #009687ae;
      color: white;
      padding: 5px 8px;
      border-radius: 50%;
      font-size: 14px;
    }
  }

  .container {
    margin: 0 auto;
    display: flex;
    justify-content: end;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;

    a {
      padding: 10px;
      display: inline-block;
    }

    &.navbar-list {
      padding: 0;
    }
  }
}
